<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxt.dao.CityInfoDaoMapper">
<sql id="commSql">
	select c.cityId,c.cityNumber,c.cityName,p.privadeId,p.privadeName from tb_city_info c
		left join tb_privade p on c.privadeId=p.privadeId
</sql>
	<select id="findAllCityInfo" resultType="com.sxt.entity.CityInfo">
		<include refid="commSql"/>
	</select>
	<select id="findPrivadeAllInfo" resultType="com.sxt.entity.PrivadeInfo">
		select privadeId,privadeName from tb_privade
	</select>
	<select id="findCityWithPage" resultType="com.sxt.entity.CityInfo">
		<include refid="commSql"/>
		<where>
			<if test="listPrivadeId !=null and listPrivadeId.size()>0">
				and c.privadeId in
				<foreach collection="listPrivadeId" item="privadeId" index="index" open="(" close=")" separator=",">
					#{privadeId}
				</foreach>
			</if>
		</where>
		limit #{page},#{rows}
	</select>
	<select id="getCityCount" resultType="int">
		select count(cityId) from tb_city_info
	</select>
	<insert id="saveCity">
		insert into tb_city_info(cityNumber,cityName,privadeId)
		values(#{cityNumber},#{cityName},#{privadeId})
	</insert>
</mapper>